<!DOCTYPE html>
<html>
<head>
    <title>Welcome to use Motion Prediction App</title>
    <style>
        body {
            text-align: center; 'put content into the central'
            margin-top: 50px; 'add some margin to vistualize the title'
        }
        button {
            width: 150px;
            height: 50px;
            font-size: 20px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome to Motion Prediction App</h1>
    <form action="/handle_choice" method="post">
        <button type="submit" name="action" value="login">Login</button>
        <button type="submit" name="action" value="register">Register</button>
    </form>
</body>
</html>
